@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import url('css/base.css');
@import url('css/layout.css');
@import url('css/components.css');
@import url('css/animations.css');
@import url('css/effects.css');
@import url('css/theme.css');